<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>سامانه مدیریت سنسورهای هوشمند شهری</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="SmartCity team" name="author"/>
    <meta content="info@SmartCity.ir" name="email"/>

    {# {% image 'bundles/smartcitypanel/images/favicon.jpg' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" />
    {% endimage %} #}

    {% block stylesheets %}
        {% include 'SmartCityPanelBundle:Common:stylesheets.html.twig' %}
    {% endblock %}

</head>

<body class="page-md">
    
    {% block body %}{% endblock %}

</body>

{% block javascripts %}
        {% include 'SmartCityPanelBundle:Common:javascripts.html.twig' %}
    {% endblock %}
</html>